


.main-container {
    position:           relative;
    display:            flex;
    justify-content:    center;
    flex-grow:          1;
    height:             100%;
    padding-left:       var(--px20);
    padding-top:        var(--px40);
    padding-right:      var(--px20);
    top:                0;
    bottom:             0;
}



.main-content {
    display:            flex;
    flex-direction:     column;
    justify-content:    start;
    align-items:        stretch;
    padding-bottom:     var(--px40);
}

.main-content-header {
    display:            flex;
    justify-content:    space-between;
    align-items:        flex-end;
    margin-bottom:      var(--px20);
}

.main-content-header-section {
    display:        flex;
    flex-direction: column;
    text-align:     start;
}

.main-content-title {
    font-size:      var(--px24);
    font-weight:    600;
    color:          var(--text-primary);
}

.main-content-subtitle {
    font-size:      var(--px18);
    font-weight:    400;
    color:          var(--text-tertiary);
}



@media screen and (max-width: 1099.98px) {
    .main-content {
        width: 100%;
    }
}

@media screen and (min-width: 1100px) {
    .main-content {
        width:      850px;
        min-width:  850px;
        max-width:  850px;
    }
}
