


.frame-header {
    width:          100%;
    padding-top:    var(--px14);
    padding-bottom: var(--px14);
}



.main-container {
    position:           relative;
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    flex-grow:          1;
    height:             100%;
    top:                0;
    bottom:             0;
}



.main-content {
    display:            flex;
    flex-direction:     column;
    justify-content:    start;
    width:              100%;
    align-items:        stretch;
    padding-top:        var(--px20);
    padding-bottom:     var(--px40);
}

.main-content-header {
    display:            flex;
    justify-content:    space-between;
    align-items:        flex-end;
    margin-bottom:      var(--px20);
}

.main-content-header-section {
    display:        flex;
    flex-direction: column;
    text-align:     start;
}

.main-content-title {
    font-size:      var(--px24);
    font-weight:    600;
    color:          var(--text-primary);
}

.main-content-subtitle {
    font-size:      var(--px18);
    font-weight:    400;
    color:          var(--text-tertiary);
}


@media screen and (max-width: 594.98px) {
    .main-container {
        padding-left:   var(--px20);
        padding-right:  var(--px20);
    }
}

@media screen and (min-width: 595px) and (max-width: 944.98px) {
    .main-container {
        padding-left:   var(--px40);
        padding-right:  var(--px40);
    }
}

@media screen and (min-width: 945px) {
    .main-container {
        padding-left:   var(--px80);
        padding-right:  var(--px80);
    }
}
