



#main {
    border: none;
}





.sidenav {
    position:           relative;
    display:            flex;
    flex-direction:     column;
    align-items:        stretch;
    flex-wrap:          0;
    height:             100%;
    background-color:   var(--bg-primary);
}

.nav-brand {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-self:         center;
    width:              42px;
    height:             42px;
    margin-top:         14px;
    border-radius:      16px;
    background-color:   var(--brand-300);
}

.sidenav > ul {
    box-sizing:     border-box;
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
    flex-grow:      1;
    margin-top:     var(--px40);
}

.nav-item {
    padding-top:        var(--px24);
    padding-bottom:     var(--px24);
    border-left-style:  solid;
    border-left-width:  4px;
    border-left-color:  transparent;
    color:              var(--text-muted);
    font-size:          var(--px14);
    font-weight:        500;
    cursor:             pointer;
}

.nav-item:not(.active):hover > .nav-item-icon {
    color:  var(--brand-600);
    fill:   var(--brand-600);
}

.nav-item-icon {
    margin-left:    28px;
    margin-right:   32px;
    color:          var(--text-muted);
    fill:           var(--text-muted);
}

.nav-item.active {
    color:              var(--brand-600);
    font-weight:        600;
    border-left-color:  var(--brand-600);
}

.nav-item.active > .nav-item-icon {
    color:  var(--brand-600);
    fill:   var(--brand-600);
}


