



#main {
    border: none;
}





.sidenav {
    position:           relative;
    display:            flex;
    flex-direction:     column;
    align-items:        stretch;
    width:              250px;
    height:             100%;
    padding-left:       var(--px14);
    padding-right:      var(--px14);
    background-color:   white;
    border-right:       1px solid var(--bg-tertiary);
}

.sidenav > .user-panel {
    box-sizing:         border-box;
    display:            flex;
    justify-content:    space-between;
    align-items:        center;
    margin-top:         var(--px40);
    padding:            var(--px8);
    border:             1px solid var(--bg-secondary);
    border-radius:      var(--px8);
}

.user-panel-description {
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
    align-self:     center;
    flex-wrap:      0;
    text-align:     start;
    margin-left:    var(--px10);
}

.sidenav > ul {
    box-sizing:     border-box;
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
    flex-grow:      1;
    margin-top:     var(--px40);
}

.nav-item {
    padding-top:    var(--px16);
    padding-bottom: var(--px16);
    margin-bottom:  var(--px4);
    border-radius:  var(--px8);
    color:          var(--text-tertiary);
    font-size:      var(--px14);
    font-weight:    500;
    cursor:         pointer;
}

.nav-item:not(.active):hover {
    transition:         background-color 50ms ease-in;
    background-color:   var(--bg-light);
}

.nav-item-icon {
    margin-left:    var(--px14);
    margin-right:   var(--px18);
    color:          var(--bg-quaternary);
    fill:           var(--bg-quaternary);
}

.nav-item.active {
    background-color:   var(--brand-200);
    color:              var(--brand-600);
    font-weight:        600;
}

.nav-item.active > .nav-item-icon {
    color:  var(--brand-600);
    fill:   var(--brand-600);
}
